<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password Email</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; background-color: #f4f4f4;">
    <div style="width: 600px; max-width: 600px; margin: 0 auto; background-color: #fff; border: 1px solid #ddd; border-radius: 5px; box-shadow: 2px 2px 20px rgb(228, 228, 228);">
        <div style="width: 600px; font-size: 1.4rem; height: 80px; background-color: rgb(17, 85, 117); display: flex; align-items: center; justify-content: center;">
            <h2 style="color: white; margin: 0; padding-left: 20px;">CAR</h2>
            <h2 style="color: #01D28E; margin: 0; padding-left: 10px;">BOOK</h2>
        </div>
        <header style="width: 100%; text-align: left; font-size: 1.3rem; margin-top: 20px; font-weight: 500; padding-left: 20px;">
            {{headerText}}
        </header>
        <p style="margin: 0; padding: 17px 20px; text-align: justify; color: #333;">
            Dear {{recipientName}},<br><br>

            {{bodyText}}
            <br><br>
            Best regards,<br>
            CAR BOOK
        </p>
        <div style="width: 100%; display: flex; justify-content: flex-start; align-items: center; padding: 20px;">
            <a href="{{buttonLink}}" id="mail" style="text-decoration: none; padding: 15px; background-color: #01D28E; border-radius: 5px; color: black; display: inline-block;">{{buttonText}}</a>
        </div>
        <footer style="height: 150px; width: calc(100% - 30px); background-color: rgb(17, 85, 117); margin-top: 20px; color: white; padding: 30px 10px 10px 20px; text-align: left; font-size: 12px; ">
            <p style="margin: 0; padding: 10px 0;">
                <a href="#" style="color: white; text-decoration: none;">About us</a> | 
                <a href="#" style="color: white; text-decoration: none;">News</a> | 
                <a href="#" style="color: white; text-decoration: none;">Career</a> | 
                <a href="#" style="color: white; text-decoration: none;">The shops</a>
            </p>
            <p style="margin: 0; padding: 10px 0;">
                You are receiving this email because you have visited our site or asked about the regular newsletter. Make sure our messages get to your inbox (and not your bulk or junk folders). 
            </p>
            <p style="margin: 0; padding: 10px 0;">
                <a href="#" style="color: white; text-decoration: none;">Privacy policy</a> | <a href="#" style="color: white; text-decoration: none;">Unsubscribe</a>
            </p>
        </footer>
    </div>
    
</body>
</html>
